<div class="row documents">

    <div class="document" *ngFor="let item of documents">
        <div class="card">

            <div *ngIf="item.amount" class="corner-ribbon bottom-right">
                <i class="fa fa-eur" aria-hidden="true"></i> {{ item.amount }}
            </div>

            <div class="cardheader"  (click)="editDocument(item)">
              <h5 matTooltip="{{ item.title }}" matTooltipPosition="below">
                {{ item.title | ellipsis:30 }}
              </h5>

            </div>

            <div class="download">
                <a href="/api/v1/file/?path={{ item.previewLink }}" target="_blank" class="download_cloud"><i class="fa fa-cloud-download fa-3x" aria-hidden="true"></i></a>
            </div>

            <div class="senders">
                <mat-chip-list>
                    <mat-chip *ngFor="let sender of item.senders">
                      <span class="sender-tag">
                        <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;{{ sender | ellipsis: 15 }}
                      </span>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="tags">
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of item.tags">
                      <span class="tag">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;{{ tag | ellipsis: 15 }}
                      </span>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div class="rightInfo" >
                <span class="infoElement">

                </span>
            </div>
            <div class="leftInfo">
                <span class="infoElement">
                    <span *ngIf="item.modified"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<span class="date">{{ item.modified | dfmt:"DD.MM.YYYY" }} (mod)</span>
                    <br/>
                    </span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<span class="date">{{ item.created | dfmt:"DD.MM.YYYY" }} (cre)</span>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="totalEntries == 0">
        <h4>No results found - either nothing is there, or your search did not return any results!</h4>
        <p>
            <button mat-raised-button class="clear__search" (click)="clearSearch()"><i class="fa fa-recycle" aria-hidden="true"></i> clear the search!</button>
        </p>
    </div>

    <div *ngIf="shownResults < totalEntries" class="show_more_results">
        <p>Currently showing {{ shownResults }} result<span *ngIf="shownResults > 1">s</span> of total {{ totalEntries }}</p>
        <button mat-icon-button class="more__results" (click)="showMoreResults()" matTooltip="Load more results"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
    </div>

</div>


<div class="add" >
    <button mat-fab
        color="accent"
        (click)="addDocument()">
        <i class="fa fa-plus fa-2x" aria-hidden="true" matTooltip="Add a new document" matTooltipPosition="before"></i>
    </button>
</div>
